body {
    background-color: #f8fafd;
    font-family: 'Inter', sans-serif;
    color: #252525;
    padding: 2rem;
}
/* responsividade da main */
main {
    max-width: 780px;
    margin: 0 auto;   
}
.nave-bar {
    text-align: center;    /*alinhando ao centro*/
    padding-bottom: 3rem;  /*espaçameto a baixo*/
}
.nave-bar .title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem; /*espaçameto a baixo*/
}

